.login-options {
    margin-left: 80%;
    text-align: center;
}

.login-options a {
    display: inline-block;
    padding: 2% 2% 2% 2%;
    text-decoration: none;
    color: aliceblue;
    font-size: large;
    font-weight: bold;
}

.login-options a:hover {
    color: rgb(181, 187, 192);
}

.login-options a:active {
    color: rgb(130, 134, 138);
}