.image {
    position: absolute;
    top: 28%;
    left: 50%;
    /* Negative half of height. */
    margin-left: -25vw;
    height: 75%;
    width:50%;
    border-width: 5px;
    border-radius: 20px;
}

.image-section {
    height: 90vh;
}