.image {
    position: absolute;
    /* these need to be different units */
    top: 300px;
    left: 50%;
    /* Negative half of height. */
    margin-left: -25%;
    height: 75%;
    width:50%;
    border-width: 5px;
    border-radius: 20px;
}

.image-section {
    height: 90vh;
    margin-bottom: 70px;
}