.parts-images {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 justify-items: center;
}

.parts-choices h1 {
 background-position: center;
 width: 40%;
 background-color: cadetblue;
 text-align: center;
 color: white;
 font-size: 300%;
 margin-left: auto;
 margin-right: auto;

 border-radius: 10px;
 border-style: outset;
 border-width: 3px;
}
.parts-images img {
 margin-top: 10%;
 min-width: fit-content;
 min-height: fit-content;
}

@media only screen and (max-width: 900px) {
 .parts-images{
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
 }
}
